#accueil {
main {
  overflow: hidden;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
div.slider-projet{
  background-color: #f6f6f6;
  float: left;
  height: 500px;
}
div.projet {
  text-align: center;
}
article.description {
  margin-top: 14%;
  width: 90%;
}
h1 {
  font-size: 35px;
}
/*--------------SLIDER----------*/

.slider {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 500px;
  float: left;
  display: block;
}
.slider figure div.slide {
  width: 20%;
  float: left;
}
.slider figure img.image{
	width: 100%;
	float: left;
  height: 500px;
}
.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 15s slidy infinite;
}
div.slider-projet {

}
div.projets {
  position: absolute;
  width: 10%;
  background-color: #f6f6f6;
  height: 100px;
  text-align: center;

}
h1.nom {
  font-size: 45px;

}
@keyframes slidy {
  0% {
    left: 0%;
  }
  15% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  35% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  55% {
    left: -200%;
  }
  60% {
    left: -100%;
  }
  75% {
    left: -100%;
  }
  80% {
    left: 0;
  }
}
/*----------APRES SLIDER-------*/

div.title {
  text-align: center;
  margin-top: 5%;
}
div.qui-sommes-nous-architecture {
  width: 70%;
  margin-left: 8%;
  clear: both;
  margin-top: 45%;
  box-shadow: 3px 3px 3px 3px;
  height: 300px;
}
div.architecture {
  float: right;
}

div.texte {
  position: absolute;
  background-color: white;
  z-index: 100;
}
h3 {
  font-size: 20px;
  margin: auto;
  color: #000;
}
/*----------------APPROCHE REGIONALE -----------*/

/*-----------QUI-SOMME-NOUS-------------*/
div.background {
  background-color: #f1f1f1;
  height: 100%;

}
.approche-regionale {
  margin-top: 5%;
  margin-left: 5%;
  text-align: center;
}
div.qui-somme-nous-image {
  position: relative;
}
div.image {
  float: right;
  margin-top: 5%;
}
div.qui-somme-nous {
  float: left;
  width: 60%;
  position: absolute;
  left: 5%;
  margin-left: 8%;
  clear: both;
  -webkit-box-shadow: 0px 3px 20px 2px rgba(212,212,212,0.78);
  -moz-box-shadow: 0px 3px 20px 2px rgba(212,212,212,0.78);
  box-shadow: 0px 3px 20px 2px rgba(212,212,212,0.78);
  height: 300px;
  z-index: 15;
  background-color: #fff;
}
article.title {
  float: left;
  width: 100%;
  margin-left: 5%;
}
article h2 {
	font-size:24px;
	margin:5% 0% 2%;
	font-family: 'big_johnregular';
	line-height:10px;
	border-bottom:#39C4D6 solid 9px;
	display:inline-block;
	text-transform: uppercase;
	letter-spacing:3px;
}
p.description {
  position: absolute;
  color: #000;
  height: 50px;
  text-align: center;
  font-size: 14px;
  width:85%;
  margin-top: 2%;
  float: left;
}
h1.actualite-region {
  margin-top: 5%;
}

/*--------------- approche-regionale 2 ------------*/
div.approche-regionale-2 {
  margin-top: 5%;
  margin-left: 10%;
  text-align: center;
}
div.approche-image {
  position: relative;
}
div.image-approche {
  float: left;
  margin-top: 5%;
}
div.approche {
  width: 60%;
  position: absolute;
  left: 34%;
  clear: both;
  -webkit-box-shadow: 0px 3px 20px 2px rgba(212,212,212,0.78);
-moz-box-shadow: 0px 3px 20px 2px rgba(212,212,212,0.78);
box-shadow: 0px 3px 20px 2px rgba(212,212,212,0.78);
  height: 300px;
  z-index: 15;
  background-color: #fff;
}
article.title-1 {
  float: left;
  width: 85%;
  margin-left: 5%;
}

/*------------------------approche-regionale 3 ----------*/
.approche-regionale-3 {
  margin-top: 5%;

}
article.title-2 {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-top: 2%;

}
div.presence {
  margin-top: 15%;
  clear: both;
  -webkit-box-shadow: 0px 3px 20px 2px rgba(212,212,212,0.78);
   -moz-box-shadow: 0px 3px 20px 2px rgba(212,212,212,0.78);
  box-shadow: 0px 3px 20px 2px rgba(212,212,212,0.78);
  height: 400px;
  z-index: 15;
  background-color: #fff;
  width: 50%;
  display: block;
  margin: auto;
}
@media screen and (max-width: 1290px) {
  h1.nom {
    font-size: 30px;
  }

}
@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }
  img.image1 {
    width: 100%;
  }
  img.image2 {
    width: 100%;
  }
  div.slider-projet {
    display: none;
  }
  div.background {
    margin-top: 5%;
    z-index: -1;
    display: block;
    margin: auto;
  }
  p.description {
    font-size: 14px;
    text-align: center;
    width: 95%;
    float: left;
    position: static;

  }
  article.title {
    text-align: center;
    width: 100%;

  }
  div.qui-somme-nous {
    width: 100%;
    display: block;
    margin: auto;
    left: 5%;
    margin-top: -15%;
  }
  div.approche {
    width: 100%;
    display: block;
    margin: auto;
    left: 5%;
    margin-top: 0;
  }
  div.approche-regionale-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  div.approche-regionale {
    display: block;
    margin: 0;
    margin-top: 20%;
  }
  div.image-approche {
    display: block;
    margin: auto;
    float: right;
    margin-top: 10%;

  }
  article.title h2 {
    font-size: 24px;
    float: left;
  }
  article.title-1 h2 {
    font-size: 24px;
    float: left;
  }

  div.approche-regionale-3 {
    margin-top: -15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  h1.actualite-region {
    font-size: 25px;
  }

  div.approche-regionale-1-et-2 {
    width: 100%;
    margin: auto;

  }
  div.approche-regionale-3 {
    width: 100%;
    display: block;

  }
  article.title {
    text-align: center;
    width: 100%;
    display: block;
    margin: auto;
  }
  article.title h2 {
    font-size: 19px;
  }
  article.title-1 {
    text-align: center;
  }
  article.title-1 h2 {
    font-size: 19px;
  }
  article.title-2 {
    text-align: center;
  }
  article.title-2 h2 {
    font-size: 19px;
  }
  div.approche-regionale-2 {
    position: relative;
  }
  div.slider {
    display: none;
  }
  div.background {
    z-index: -1;
    display: block;
    margin: auto;
  }
  p.description {
    font-size: 13px;
    width: 100%;
    position: static;
  }
  p.description-3 {
    font-size: 15px;
    width: 100%;
  }
  div.qui-somme-nous {
    position: static;
  }
  div.approche {
    position: static;
  }
  div.presence {
    width: 100%;
    margin-top: 25%;
  }
  img {
    width: 100%;
  }
  article.title h2 {
    font-size: 20px;
    float: none;
  }
  article.title-1 h2 {
    font-size: 20px;
    float: none;
  }

}
@media screen and (max-width: 500px) {
  p.description {
    font-size: 11px;
    width: 100%;
  }
  p.description-3 {
    font-size: 11px;
  }
  h2 {
    font-size: 17px;
  }
  h1.actualite-region {
    font-size: 20px;
  }

}

}
