#mainbackoffice{

	font-family: 'Lato', sans-serif;



	header {
		height: 100px;
		background: black;
		color: white;
		padding: 1%;

		p {
			margin-bottom: 10px;
			font-size: 20px;
			
			span {
				color: #39C4D6;
			}
		}

		a {
			color: white;
			text-decoration: underline;
			padding-top: 20px;
		}
	}

	h1{
		width: 45%;
		text-align: center;
		font-family: 'big_johnregular';
		letter-spacing:7px;
		text-transform: uppercase;
		font-size: 22px;
		border-bottom: #39C4D6 solid 9px;
		margin: auto;
		margin-top: 50px;

	}

	h2{
		text-align: center;
		letter-spacing: 2px;
		text-transform: none;
		font-size: 20px;
		margin-top: 10px;
		font-family: 'Lato', sans-serif;
	}


	.tabs {

		text-align: center;
		font-size: 22px;
		margin-top: 100px;
		font-family: 'Lato', sans-serif;

		li {

			display:inline-block;
			padding: 0 7%;
			transition: ease .25s;
			cursor: pointer;
		}

		li:hover {

			color: #39C4D6;
		}
		
	}

	.wrapper-list {

		display:none;

		padding: 2%;

		h2, h3 {
			font-size: 20px;
			text-align: center;
			color: #1a1a1a;
			margin-top: 20px;
			font-family: 'Lato', sans-serif;
			text-transform: none;
			font-weight: bold;
			letter-spacing: 2px;
		}

		h3 {
			margin-top: 50px;
		}

		a.add-btn {

			padding: 1% 1.5%;
			color: white;
			background: #39C4D6;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			letter-spacing: 2px;
			margin: 110px 0 0 50px;
			display: inline-block;
		}
	
	}

	table {
		margin-top: 50px;
		width: 100%;
		text-align: left;

		tr:nth-child(2n+2) {

			background: lightgrey;
		}

		tr:first-child {

			text-align: center;
		}

		td {

			padding: 1% .5%;
			text-align: center;

			button {
				text-align: center;
			}

		}

		td:nth-child(2) {

			text-align: left;
		}
	
	}



	.form-wrapper {

		margin-top: 50px;
		

		form {

			font-size: 18px;
	

			div {
				width: 70%;
				margin: 20px auto;
			}

			div:last-child {

				margin-top: 50px;
				
				
				text-align: center;

				input {
					background: #39C4D6;
					width: 30%;
					margin:auto;
					padding: 15px;
					color: white;
				}
				
			}


			label {
				margin-right: 150px;
				font-weight: bold;
				display: inline-block;
				width: 1px;
			}

			input {
				background: lightgrey;
				border: none;
				padding: 10px 10px;
				width: 70%;
				font-size: 15px;
			
			}

			input.img-upload {
				background: none;
			
			}


		}

	}

	.wrapper-detail {

		text-align: center;
		margin-top: 50px;
		font-size: 18px;

		li {
			margin-bottom: 20px;
		}

		li:first-child {
			font-weight: 700;
		}
	}

	.tabs .active {

		 color: #39C4D6;
	}

	.active {

		display: block; 
	}


}