	header{
* {
    padding: 0;
    margin: 0;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

  .nav_desk{

    @media screen and (max-width: 1160px) {
      display: none;
    }
  }
  .nav_burger{
    width: 100%;
    ul{
      margin-top: 7%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
     	 @media screen and (max-width: 700px){
     	 	margin-top: 10%;
     	 }
      li{
        margin: 1% 0;
      }
    }
  }
  .burger{
    display: none;


    @media screen and (max-width: 1160px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      width: 100%;
      background: black;

      //background: #5F5F5F;
      padding: 1% 0;
      position: fixed;
    }
    a{
      width: 20%;
      @media screen and (max-width: 700px) {
		width: 30%;
	}

      img{
        width: 100%;
      }
    }
    div{
      width: 5%;
      cursor: pointer;
      div{
        height: 5px;
        width: 100%;
        margin: 10% 0;
        background: white;
      }
    }
  }
  #logo{
  	width: 24%;
  }
  .active{
    display: none;
  }
  nav{
    width: 100%;
    background: black;
	padding:2%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	a.logo{
		width: 40%;
		img{
			width: 100%;
		}
	}
    ul{
      width: 60%;
      float: right;
      display: flex;
      align-items: center;
      justify-content: space-between;


      li{
 		list-style: none;
    	float: left;
   		text-align: right;
   		font-family: 'Lato';
   		color: white;
   			span{
   				color: #39C4D6;
   			}
   
        a{
          color: white;
          text-decoration: none;

          img{
            width: 100%;
          }
        }
        a:hover{
          color: #39C4D6;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          text-decoration: none;
        }
      }
      li:last-child{
        a{
          color: white;
          -webkit-transition: 0.3s;
          transition: 0.3s;
        }
      }
      li:last-child:hover{
        a{
          color: #39C4D6;
          -webkit-transition: 0.3s;
          transition: 0.3s;
        }
      }
    }
  }
}

