* {
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #191919;
}

input[type="text"] {
    outline: none;
}

h2 {
    text-transform: uppercase;
    font-family: 'Amiko';
}

h1, h3 {
    font-family: 'Amiko';
}