@import "header.css";

/*-------HEADER--------*/
div.head-filters {
  margin-top: 5%;
  text-align: center;
}
div.commande {
  width: 45%;
}


/*--------LABEL----------*/
label {
  width: 20%;
}
