.slider {
  overflow: hidden;
  width: 75%;
  margin: 0;
  padding: 0;
  height: 500px;
  float: left;

}
.bloc {
  height: 500px;
  background-color: #f6f6f6;
  float: left;
  width: 25%;
  z-index: 10;

}
.slider figure div {
  width: 20%;
  float: left;
}
.slider figure img{
	width: 100%;
	float: left;
  height: 500px;
}
.slider figure h1 {
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 15s slidy infinite;
}
div.projet {
  position: absolute;
  left: 5%;

}
h1.projet {
  text-align: center;
}
h3.real{
  text-align: center;
}
p.description {
  position: absolute;
  color: #000;
  background-color: #f6f6f6;
  height: 50px;
  text-align: center;
}


@keyframes slidy {
  0% {
    left: 0%;
  }

  15% {
    left: 0%;
  }

  20% {
    left: -100%;
  }

  35% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  55% {
    left: -200%;
  }
  60% {
    left: -100%;
  }
  75% {
    left: -100%;
  }
  80% {
    left: 0;
  }



}
